.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #6B7280, #1F2937);
    color: white;
    flex-direction: column;
}
  
.heading {
    font-size: 4rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    text-shadow: 10px;  
    letter-spacing: 1px;
    margin: 0;
}

.sub-heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: #E5E7EB;
    text-align: center;
    max-width: 700px;
    margin-top: 1rem;
    padding: 0 1rem;
    line-height: 1.6;
}  

.try-button {
    width: 1000px;
}