.body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to bottom right, #6B7280, #1F2937);
    color: white;
}

.heading {
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 10px;  
    letter-spacing: 1px;
    margin-top: 50px;
}

.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}

.jd-input {
    width: 650px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 18px;
    resize: none;
    padding-top: 1rem;
    vertical-align: top;
}

