.custom-button {
    background-color: #318541;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 0.375rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.custom-button:hover {
    background-color: #125f09;
}
